<form>
  <div class="form-group">
    <label for="address1">Address 1</label>
    <input type="text" class="form-control" id="address1" aria-describedby="address1" placeholder="Address 1">
  </div>
  <div class="form-group">
    <label for="address2">Address 2</label>
    <input type="text" class="form-control" id="address2" aria-describedby="address2" placeholder="Address 2">
  </div>
  <div class="form-group">
    <label for="zipcode">Zipcode</label>
    <input type="text" class="form-control" id="zipcode" aria-describedby="zipcode" placeholder="Zipcode">
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <input type="text" class="form-control" id="state" aria-describedby="state" placeholder="State">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
